* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

header {
    height: 50px;
    display: flex;
    align-items: center;
    background: red;
}

header > img {
    height: 80%;
    margin-left: 20%;
}

header > p {
    font-size: 24px;
    font-weight: bold;
    margin-left: 5px;
    padding-top: 10px;
}

.Main-content {
  width: 90%;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.Main-content > calendar {
  width: 30%;
  height: 150px;
}

.MainContent > mission {
  width: 70%;
  height: 200px;
  font-size: 20px;
}

.Footer {
  height: 50px;
  background-color: darkred;
  color: black;
  text-align: center;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Banner {
  min-height: 200vh;
}
